body{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}

h1{font-weight: bold;}

.overview-card{
    margin-top: 3%;
}

.overview-card .card-body .number{
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
}

.dash-information{margin-top:3%}

.dash-information .sub-title{
    font-weight: bold;
}